<% include ../partials/header.ejs %>

<div class="background_form"></div>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6" id="centerForm_C">
            <h1><%= title %></h1>
            <% if (accountType === 'Restaurant') { %>
            <a class="btn btn-primary" href="/item-list/add/<%= restaurant %>" role="button" id="addItemBtn">
                <i class="fas fa-plus-circle"></i> Add an Item</a>
            <% } %>
            <br>
            <div class="form">
                <table class="table table-bordered table-striped table-hover">
                    <!-- Header Row-->
                    <tr>
                        <th class="text-center">Index</th>
                        <th class="text-center">Item Id</th>
                        <th class="text-center">Restaurant Name</th>
                        <th class="text-center">Item Name</th>
                        <th class="text-center">Inventory</th>
                        <th class="text-center">Image</th>
                        <th class="text-center">Price($)</th>
                        <% if (accountType === 'Restaurant') { %>
                        <th class="text-center"></th>
                        <th class="text-center"></th>
                        <% } %>
                    </tr>

                    <!-- Repeatable Template Row -->
                    <% for(let count = 0; count < itemList.length; count++) { %>
                        <% if (itemList[count].restaurantName === restaurant) { %>
                        <tr>
                            <td class="text-center"><%= (count+1) %></td>
                            <td class="text-center"><%= itemList[count].itemId %></td>
                            <td class="text-center"><%= itemList[count].restaurantName %></td>
                            <td class="text-center"><%= itemList[count].itemName %></td>
                            <td class="text-center"><%= itemList[count].quantity %></td>
                            <td class="text-center"><img src="../Content/Images/food/<%= itemList[count].imageURL %>"></td>
                            <!-- Showcase the Faculty Discount -->
                            <% if (accountType === 'Faculty') { %>
                                <td class="text-center"><%= parseFloat(itemList[count].price - (itemList[count].price/(100/15))).toFixed(2) %></td>
                            <% } else { %>
                                <td class="text-center"><%= itemList[count].price %></td>
                            <% } %>          
                            
                            <% if (accountType === 'Restaurant') { %>
                            <td class="text-center">
                                <a href="/item-list/edit/<%= itemList[count]._id %>" class="btn btn-primary"><i
                                        class="fas fa-pencil-alt"></i> Edit</a>
                            </td>
                        
                            <td class="text-center">
                                <a href="/item-list/delete/<%= itemList[count]._id %>" class="btn btn-danger"><i
                                        class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                            <% } %>
                        </tr>
                        <% } %>
                    <% } %>
                </table>
                <a class="btn btn-primary" href="/order-list/add" style="margin-bottom: 10px;" id="addOrderBtn">
                    <i class="fas fa-plus-circle"></i> Add an Order</a>
                <a href="/" class="btn btn-warning" style="margin-bottom: 10px;">
                    <i class="fas fa-undo"></i> Home</a>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>